<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <head th:replace="fragments/layout :: head (title='Editar Produto')"></head>
  </head>
  <body>
    <div th:replace="fragments/sidebar :: sidebar_full ('produtos')"></div>

    <div class="main-content">
      <header class="main-header">
        <h1 class="page-title">Editar Produto</h1>
      </header>

      <div class="form-container">
        <form
          th:action="@{/produtos/salvar}"
          th:object="${produto}"
          method="post"
        >
          <input type="hidden" th:field="*{id}" />

          <div class="form-group">
            <label for="codigoBarra">Código de Barra</label>
            <input
              type="text"
              id="codigoBarra"
              th:field="*{codigoBarra}"
              class="form-input"
            />
          </div>

          <div class="form-group">
            <label for="nomeProduto">Nome</label>
            <input
              type="text"
              id="nomeProduto"
              th:field="*{nome}"
              class="form-input"
              required
            />
          </div>

          <div class="form-group">
            <label for="descricaoProduto">Descrição</label>
            <input
              type="text"
              id="descricaoProduto"
              th:field="*{descricao}"
              class="form-input"
            />
          </div>

          <div class="form-group">
            <label for="quantidade">Quantidade em Estoque</label>
            <input
              type="number"
              id="quantidade"
              th:field="*{quantidade}"
              class="form-input"
              required
            />
          </div>

          <div class="form-group">
            <label for="custo">Custo</label>
            <input
              type="text"
              placeholder="R$"
              step="0.01"
              id="custo"
              th:field="*{custo}"
              class="form-input"
              required
            />
          </div>
          <div class="form-group">
            <label for="precoVenda">Preço de Venda</label>
            <input
              type="text"
              placeholder="R$"
              step="0.01"
              id="precoVenda"
              th:field="*{precoVenda}"
              class="form-input"
              required
            />
          </div>

          <div class="form-actions" style="margin-top: 2rem">
            <button type="submit" class="btn-primary-action">
              <i class="fas fa-save"></i> Salvar Alterações
            </button>

            <a th:href="@{/produtos}" class="btn-secondary-action">
              <i class="fas fa-times-circle"></i> Cancelar
            </a>
          </div>
        </form>
      </div>
    </div>
    <div th:replace="fragments/layout :: scripts"></div>
  </body>
</html>
